@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    min-height: 100%;
  }

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 6rem;
}
main {
    margin: 0;
    height: 80%;
}

h1 {
    color: rgb(68, 152, 255);
    font-size: 4rem;
    line-height: 5.6rem;
}

.coming-soon{
    font-size: 2rem;
    line-height: 1.25rem;
    color: #747474;
}


.fa-heart{
    color: #ff0000b0;
}


/* Blinking cursor effect */
.blink {
    animation: blink-animation 1.2s steps(2, start) infinite;
    -webkit-animation: blink-animation 1.2s steps(2, start) infinite;
  }

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
/*End of blinking----------------------------------------------------------*/

/*Follow us ------------------------------------*/

footer {
    position: absolute;
    /*width: 100%;*/
    right: 0;
    left: 0;
    bottom: 0;
    /*height: 7rem;*/
    padding:1rem 3rem;
    font-size: 1rem;
    color: #F8F8F8;
    background-color: #162227;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.followus {
    font-size: 1.2rem;
}

.followus .title {
    margin-right: 1rem;
    display: inline-block;
}

footer a {
    text-decoration: none;
}

footer .followus i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook-square:hover {
    color: #3b5998;
  }

.fa-meetup:hover {
    color: #FF001D;
  }

.fa-github:hover {
    color: #000;
  }

.fa-linkedin:hover {
    color: #0078B5;
  }

  